[tool.poetry]
name = "bd_to_avp"
version = "0.2.42"
description = "Script to convert 3D Blu-ray Discs to Apple Vision compatible files"
authors = ["Chris Busillo <info@shinycomputers.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python =  ">=3.12,<3.13"
pgsrip = "^0.1.9"
setuptools = "^70.0.0"
ffmpeg-python = "^0.2.0"
tesseract = "^0.1.3"
toga = "^0.4.4"
requests = "^2.32.3"
psutil = "^5.9.8"
pyside6 = "^6.7.1"

[tool.poetry.group.dev.dependencies]
black = "^24.2.0"
ruff = "^0.4.7"
ruff-lsp = "^0.0.53"
mypy = "^1.9.0"
briefcase = "^0.3.18"
types-requests = "^2.32.0.20240602"
types-psutil = "^5.9.5.20240516"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.briefcase]
project_name = "Blu-ray to AVP"
bundle = "com.shinycomputers"
version = "0.2.42"
architectures = ["arm64"]
icon = "bd_to_avp/resources/app_icon"
author = "Chris Busillo"
author_email = "info@shinycomputers.com"
organization = "Shiny Computers"
url = "https://github.com/cbusillo/BD_to_AVP"


[tool.briefcase.app.bd-to-avp]
formal_name = "Blu-ray to AVP"
description = "Convert 3D Blu-ray Discs (and mts) to MV-HEVC Apple Vision compatible files"
sources = ["bd_to_avp"]
requires = [
    "pyside6",
    "ffmpeg-python",
    "pgsrip",
    "tesseract",
    "setuptools",
    "requests",
    "psutil",
]


[tool.poetry.scripts]
bd-to-avp = "bd_to_avp.__main__:main"