name: Package with Briefcase and Create Release

on:
  push:
    branches:
      - release

jobs:
  package:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Add Poetry to PATH
        run: echo "/Users/test/.local/bin" >> $GITHUB_PATH

      - name: Verify Poetry Installation
        run: |
          poetry --version

      - name: Install dependencies
        run: |
          poetry install --no-interaction
      - name: Install certificate
        run: |
          KEYCHAIN_PATH=$(pwd)/build.keychain
          rm -f $KEYCHAIN_PATH
          security delete-keychain $KEYCHAIN_PATH || true
          echo "${{ secrets.CERTIFICATE }}" | base64 --decode > certificate.p12
          security create-keychain -p runner $KEYCHAIN_PATH
          security default-keychain -s $KEYCHAIN_PATH
          security unlock-keychain -p runner $KEYCHAIN_PATH
          security import certificate.p12 -k $KEYCHAIN_PATH -P "${{ secrets.CERTIFICATE_PASSWORD }}" -T /usr/bin/codesign --options runtime
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k runner $KEYCHAIN_PATH
        env:
          CERTIFICATE: ${{ secrets.CERTIFICATE }}
          CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
      - name: Store Notarization Credentials
        run: |
          echo "${{ secrets.KEYCHAIN_PASSWORD }}" | xcrun altool --store-password-in-keychain-item "${{ secrets.KEYCHAIN_NAME }}" -u "${{ secrets.APPLE_ID }}" -p -
          xcrun notarytool store-credentials "${{ secrets.KEYCHAIN_NAME }}" --apple-id "${{ secrets.APPLE_ID }}" --password "${{ secrets.KEYCHAIN_PASSWORD }}" --team-id "${{ secrets.TEAM_ID }}"
      - name: Package application
        run: |
          poetry run briefcase create
          poetry run briefcase build
          poetry run briefcase package -i "${{ secrets.DEV_ID }}"
        env:
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      - name: Upload log file
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: notarization-log
          path: /Users/runner/work/BD_to_AVP/BD_to_AVP/logs/

      - name: Extract version
        id: extract_version
        run: |
          echo "::set-output name=version::$(sed -n 's/^version = "\(.*\)"/\1/p' pyproject.toml)"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/Blu-ray\ to\ AVP-${{ steps.extract_version.outputs.version }}.dmg
          asset_name: Blu-ray\ to\ AVP-${{ steps.extract_version.outputs.version }}.dmg
          asset_content_type: application/x-diskcopy